body {
    margin: 0;
    font-family: 'RobotoJosefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto SlJosefin Sansab', serif;
}

.container{

}

.header-wrapper{
    height: 100px;
    background-color:;
    color: blue;
    display: flex;
    justify-content:;
    align-items: ;
    padding: 60px 100px ;
    background-image: url(assets/mandela2.png) ;
    background-repeat: no-repeat;
    

}

.contact{
    display: flex;
    align-items: center;
   
}

.header{
    

}

.menus-btn{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;

}

.main{


}

.main-content{
    height: 400px;
    background-image: url(assets/mosque3.jpg);
    background-repeat: repeat;
    background-color: rosybrown;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0,0,0,0.58);


}

.bottom{
    height: 400px;
    background-image: url(assets/madela-black1.png);
    background-color: rosybrown;
    border-top: 10px solid white;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0,0,0,0.58);
    opacity: 90%;

}

.bottom-one{

}

.bottom-two{

}

.bottom-three{

}

.footer-wrapper{

}

