body {
    margin: 0;
    font-family: 'RobotoJosefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto SlJosefin Sansab', serif;
}

body{
    background-image: url(assets/mosque2.jpg);
}

.container{

}

.header-wrapper{
    height: 100px;
    color: black;
    display: flex;
    justify-content:rigth;
    padding: 60px 100px ;
    background-repeat: no-repeat;
    
}


.header{
    background-color: whitesmoke;
    opacity: 85%;
    height: 100px;
    width: 400px;
    text-align: center;

}

.menu-bar{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    align-items:center;
    height: 30px;

}

.menus-btn{
    justify-content: space-around;
    padding: 5px;
    background-color: rosybrown;
    color: whitesmoke;
    width: 100px;
    height: 50px;
    

}

.main{


}

.main-content{
    background-color: rosybrown;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0,0,0,0.58);


}

.bottom-wrapper{
    height: 400px;
    background-color: rosybrown;
    border-top: 10px solid white;
    color:whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0px -26px 79px -8px rgba(0,0,0,0.58);
    opacity: 90%;

}

.bottom{
    text-align: center;
    width: 500px;
    height: 500px
    justify-content: space-between;
}

.bottom :nth-child(1){
    transition: 1s;
}

.footer-wrapper{

}

