body {
    margin: 0;
    font-family: 'RobotoJosefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto SlJosefin Sansab', serif;
}

.navigation-wrapper {
   
}

.left-column {
    
}

.header-styles {
    
}

.center-column {
   
}

.center-column .logo {
   
}

.logo img {
   
}

.link-wrapper {
    
}

.nav-link {
    
}

.nav-link a {
   
}

.nav-link a:hover {
   
}

.right-column {
   
}

.homepage {
    background-image: url(assets/mandela2.png);
   
}

.top-heading {
   
}

.bottom-heading {
   
}

.features-section {
   
}

.columns-wrapper {
    
}

.column {
    
}

.column:hover {
    
}

.column :nth-child(1) {
  
}

.column :nth-child(2) {
   
}

.column :nth-child(2):hover {
    
}

.column :nth-child(3) {
    l
}
